DerivedData
ripser
ripser-coefficients
er
flagser
flagser_retrieve_persistence
flagser-debug
flagser-memory
flagser-count
flagser-coefficients
flagser-coefficients-memory
*.dSYM
*.flag
*.homology
*.h5
*.png
*.mat
test/tmp
include/algorithms.h
*.vscode
.cache
build/
